body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden !important;
}

header {
  background-color: #76eb5e00;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  top: -2.5px;
}

header h1 {
  margin: 0;
}


main {
  padding: 0px;
  margin: 20px;
}

footer {
  margin: 10px;
}

.opening,
img {
  width: 100%;
  height: 735px;
}

.opening h1 {
  color: white;
  position: relative;
  left: 61.5%;
  top: -75%;
  z-index: 2;
  font-size: 65px;
}

.opening h2 {
  color: white;
  position: relative;
  left: 65%;
  top: -80%;
  z-index: 2;
  font-size: 30px;
  width: 400px;
  text-align: center;
}

.opening ul {
  color: white;
  position: relative;
  left: 73.5%;
  top: -80%;
  z-index: 2;
  font-size: 25px;
}

a {
  color: white;
}

.second,
img {
  width: 100%;
  height: 750px;
  position: relative;
  top: -5px;
  opacity: 85%;
}

hr {
  border: 25px solid rgb(88, 155, 202);
  position: relative;
}

.sec hr {
  border: 25px solid rgb(88, 155, 202);
  position: relative;
  top: -18px;
}

#about {
  position:relative;
  top:-2000px;
  left:450px;
  color: white;
  width:500px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about p {
  background-color: black;
  border: 10px solid black;
  text-align: center;
  border-radius: 5px;
  position:relative;
  top:50px;
}

#about h1 {
  font-size: 50px;
  width:1000px;
}

.third img {
  position:relative;
  top:-27.5px;
}

#menu {
  position:relative;
  top:-800px;
  color:white;
}

#contact {
  position:relative;
  top:-750px;
  color:white;
}

footer {
  position:relative;
  top:-25px;
  color:white;
  margin-left: 20px;
}

.four {
  height: 0;
}

.four img {
  position:relative;
  top:-47px;
  height:900px;
}

html, body {
  height: -50%;
}

#container {
  height:50%;
}

.third hr {
  border: 25px solid rgb(88, 155, 202);
  position: relative;
  top:-39px;
}
